
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Build My Unicorn - Email Verification</title>
    <!-- page css -->
    <link href="~/dist/css/pages/login-register-lock.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/dist/css/style.min.css" rel="stylesheet">
</head>
<body class="login-bg">
    <section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <div class="container">
                    <div class="login-container">

                        <div class="row">

                            <div class="col-xl-6 mx-auto">
                                <div class="card">
                                    <div class="card-body">
                                        <h1>Hi, @ViewBag.CustomerName</h1>
                                        <h5 class="mb-3">
                                            Your account is confirmed and active
                                        </h5>
                                        <form id="frm_Password" method="post">
                                            <input type="hidden" name="ClientID" value="@ViewBag.ClientID" />
                                            <input type="hidden" name="ConfirmationID" value="@ViewBag.ConfirmationID" />
                                            <div class="form-group">
                                                <label for="password">Password</label>
                                                <input type="password" class="form-control" id="Password" name="Password" data-parsley-required="true" data-parsley-minlength="8" data-parsley-uppercase="1" data-parsley-lowercase="1" data-parsley-number="1" data-parsley-special="1" data-parsley-required-message="Please enter email" data-parsley-minlength-message="Password lenght should minimum 8 characters">
                                            </div>
                                            <div class="form-group">
                                                <label for="ConfirmPassword">Confirm Password</label>
                                                <input type="password" class="form-control" name="ConfirmPassword" data-parsley-required="true" data-parsley-equalto="#Password" data-parsley-minlength="8" data-parsley-uppercase="1" data-parsley-lowercase="1" data-parsley-number="1" data-parsley-special="1" data-parsley-required-message="Please enter password" data-parsley-equalto-message="Confirm password does not match" data-parsley-minlength-message="Password lenght should minimum 8 characters">

                                            </div>


                                            <div class="mb-4 mt-5">
                                                <button type="submit" class="btn btn-primary">Submit</button>

                                            </div>
                                            <div class="erorLabel alert alert-danger invisible">
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                                                <span class="errorMessage"></span>
                                            </div>


                                        </form>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/Content/app_script/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/assets/node_modules/parsely/parsley.js"></script>
    <script src="~/Content/app_script/page_script/login.js??version=@DateTime.Now"></script>

</body>

</html>



