
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Build My Unicorn - Email Verification</title>
    <link href="~/Content/app_css/bootstrap-4.4.1.css" rel="stylesheet" />
    <link href="~/Content/app_css/style.css" rel="stylesheet" />
</head>
<body class="login-bg">
    <div class="container">
        <div class="login-container">

            <div class="row">

                <div class="col-xl-6 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <h1 style="font-size: 1.5rem;">Reset Your Password</h1>
                            <h5 class="mb-3" style="font-size: 1.0rem;">
                                Enter your email address and we’ll send you what you need to recover your password.
                            </h5>
                            <form id="frm_PasswordEmail" method="post">
                               
                                <div class="form-group">
                                    <label for="emailInputEmail1">Email address</label>
                                    <input type="email" class="form-control" name="Email" data-parsley-required="true" data-parsley-required-message="Please enter email" data-parsley-type-message="Please enter valid email">
                                </div>
                               


                                <div class="mb-4 mt-5">
                                    <button type="submit" class="btn btn-primary">Reset</button>

                                </div>
                                <div class="erorLabel alert alert-danger invisible">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                                    <span class="errorMessage"></span>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <script src="~/Content/app_script/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/Content/app_script/parsley.js"></script>
    <script src="~/Content/app_script/page_script/login.js??version=@DateTime.Now"></script>

</body>

</html>





