@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Build My Unicorn - Forgot Password</title>
    <link href="~/Content/app_css/bootstrap-4.4.1.css" rel="stylesheet" />
    <link href="~/Content/app_css/style.css" rel="stylesheet" />
</head>
<body class="login-bg">
    <div class="container">
        <div class="login-container">

            <div class="row">

                <div class="col-xl-6 mx-auto">
                    <div class="card">
                        <div class="card-body">

                            <div class="text-center" id="signup-success">
                                <div class="mb-3 mb-md-4 mb-lg-5 "><img src="~/Content/images/buil-my-unicorn-logo.png" alt="Build My Unicorn Logo" class="img-fluid logo"></div>
                                <h1 class="mb-3 mb-md-4 mb-lg-5">Email Rest Link!</h1>

                                <p> Email has been sent to your email Id. Please Click on the password reset link in the given email. </p>
                                <p>Cheers!</p>
                                <hr>
                                <div>Go back to <a href="~/Login">Login</a></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</body>

</html>


