<div id="dialogPaymentForm" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title" id="myModalLabel">Payment</h4>
                </div>
             
                    <input type="hidden" id="PackageAttribute" name="PackageAttribute" />
                    <div class="modal-body">


                        <div class="row">
                            <div class="col-md-12">
                                <div class="demo-container">
                                    <div class="card-wrapper"></div>
                                    <div class="form-container active">
                                        <form id="cardForm" action="">
                                            <input class="form-control jp-card-invalid" placeholder="Card number" type="tel" name="number" autocomplete="off" >
                                            <input class="form-control jp-card-invalid" placeholder="Full name" type="text" name="name"  autocomplete="off" >
                                            <input class="form-control jp-card-invalid" placeholder="MM/YY" type="tel" name="expiry"  autocomplete="off" >
                                            <input class="form-control jp-card-invalid" placeholder="CVC" type="number" name="cvc"  autocomplete="off" >
                                        </form>
                                    </div>
                                </div>


                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">

                            </div>
                        </div>




                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-default waves-effect"
                                data-dismiss="modal">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-primary waves-effect JsSubscription" >
                            Start Subscription
                        </button>
                    </div>
              

            </div>

        </div>
    </div>



