@using Business_Model.Helper;
@model IEnumerable<Business_Model.Model.ToDoTask>

@{
    ViewBag.Title = "List";
}

<!-- Column -->
<div class="card">
    <div class="card-body">
        <h4 class="card-title">To-Do List</h4>
        <h6 class="card-subtitle"></h6>
        <a href="addtodo" class="btn btn-info btn-rounded m-t-10 float-right">Create New</a>
        <div class="table-responsive">
            <table id="demo-foo-row-toggler" class="table table-bordered" data-toggle-column="first">
                <thead>
                    <tr>
                        <th data-breakpoints="xs">Subject</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th data-breakpoints="xs sm">End Date</th>
                        <th data-breakpoints="xs">% Complete</th>
                        <th data-breakpoints="all">Assigned on</th>
                        <th data-breakpoints="all">Completed on</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @Html.Partial("_TodoListPartial", Model)
                </tbody>
            </table>
        </div>
    </div>
</div>
@section PageScript
{
    <link href="~/assetsss/js/toastr.min.css" rel="stylesheet" />
    <script src="~/assetsss/js/toastr.min.js"></script>
    <script src="~/assetsss/js/todo-script.js"></script>
}
<!-- Column -->
